<!DOCTYPE html>
<html>
<head>
    <title>Resume Screening Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="nav">
        <a href="{{ url_for('home') }}">Home</a>
        <a href="{{ url_for('upload') }}">Upload</a>
        <a href="{{ url_for('results') }}">Results</a>
        <a href="{{ url_for('about') }}">About</a>
    </div>

        {% block content %}{% endblock %}

    <footer class="footer">
        <div class="footer-container">
            <p>&copy; {{now().year}} AI Resume Screener. All rights reserved.</p>
            <div class="footer-links">
                <a href="{{ url_for('about') }}">About</a>
                <a href="mailto:support@example.com">Contact</a>
                <a href="{{ url_for('privacy') }}">Privacy Policy</a>
                <a href="{{ url_for('terms') }}">Terms of Service</a>
            </div>
        </div>
    </footer>
</body>

</html>
